.content {
  padding: 50px 0px; }
  .content .container {
    width: 76.1%; }
  .content .oswald {
    font-family: 'Oswald',sans-serif; }
  .content .lato {
    font-family: 'Lato',sans-serif; }
  .content .texts {
    padding: 70px 0px 40px 0px; }
  .content .text {
    padding: 30px 0px; }
    .content .text h1, .content .text h2, .content .text h3, .content .text h4, .content .text h5, .content .text h6 {
      padding: 0px 0px 20px 0px; }
    .content .text p {
      font-family: 'Lato',sans-serif;
      font-size: 15px;
      line-height: 24px;
      color: #868686; }
  .content .user i {
    font-size: 35px;
    color: #18AFD3; }
  .content .user p {
    font-size: 24px;
    color: #868686;
    font-style: italic;
    font-family: 'lato',sans-serif; }
  .content .user img {
    border-radius: 100%;
    margin-right: 10px; }
  .content .user .secondp {
    font-size: 15px; }
  .content .heading {
    padding: 50px 0px 0px 0px; }
  .content .user h4 {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Lato',sans-serif;
    color: #F57E57; }
  .content .heading h2 {
    font-family: 'Oswald',sans-serif;
    font-size: 18px;
    margin: 20px 0px 30px 0px;
    color: #434445;
    border-bottom: 2px solid #E5E5E5;
    padding: 10px 0px;
    letter-spacing: 1.1px; }
    .content .heading h2:after {
      position: absolute;
      left: -0.1%;
      top: 107px;
      content: '';
      height: 4px;
      width: 8%;
      border-bottom: 2px solid #F57E57; }
  @media screen and (max-width: 768px) {
    .content .list .heading h2:after, .content .iconlist .heading h2:after {
      top: 99%; } }
  .content .textforms {
    font-family: 'Lato', sans-serif; }
    .content .textforms mark {
      background: #18afd3;
      color: white;
      padding: 5px 9px;
      font-size: 15px; }
    .content .textforms .italic {
      font-style: italic; }
    .content .textforms #stricket {
      text-decoration: line-through; }
    .content .textforms #underline {
      text-decoration: underline; }
    .content .textforms #press {
      color: #bdbdbd; }
    .content .textforms #hover {
      color: #038eaf; }
    .content .textforms #link {
      color: #18AFD3; }
    .content .textforms p {
      padding-bottom: 40px; }
  @media screen and (max-width: 994px) {
    .content .choose .myIcon {
      margin-left: 10px; }
    .content .choose .text {
      text-align: center; }
      .content .choose .text h3 {
        padding: 20px 0px 0px 0px; } }
  @media screen and (max-width: 768px) {
    .content .choose .myIcon {
      margin-left: 35px; } }
  .content .list {
    color: #868686;
    font-size: 15px;
    letter-spacing: 0.6px;
    font-family: 'Lato',sans-serif; }
    .content .list p {
      padding: 7px 0px; }
    .content .list li {
      padding: 5px 0px; }
  .content .imgcentered {
    box-sizing: border-box; }
    .content .imgcentered img {
      width: 100%; }
    .content .imgcentered p {
      font-family: 'Lato',sans-serif;
      padding: 10px 0px;
      font-size: 15px;
      font-weight: 200;
      line-height: 1.6;
      color: #868686;
      letter-spacing: 0.4px; }
      .content .imgcentered p span {
        color: #434445; }
  .content .imgleft p, .content .imgright p {
    font-family: 'Lato',sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #868686;
    letter-spacing: 0.4px; }
  .content .imgleft img, .content .imgright img {
    width: 342px;
    height: 221px; }
  .content .imgright p {
    padding-right: 40px; }
  .content .imgright img {
    float: right; }
  .content .imgleft p {
    padding-left: 40px; }
  @media screen and (max-width: 998px) {
    .content .imgleft img, .content .imgright img {
      width: 100%;
      height: 221px; }
    .content .iconlist {
      margin-top: 350px; }
      .content .iconlist .heading h2:after {
        top: 107px; }
    .content .imgright p {
      padding-right: 0px;
      padding-bottom: 20px; }
    .content .imgleft p {
      padding-left: 0px;
      padding-top: 20px; } }

.content {
  padding-bottom: 100px; }

.choose {
  padding: 20px 0px 70px 0px;
  height: auto; }
  .choose .myIcons {
    padding: 20px 0px; }
  .choose .text {
    padding: 0px 10px 0px 10px;
    margin-top: -22px;
    width: 100%; }
    .choose .text h3 {
      width: 100%;
      text-align: center;
      font-weight: bold; }
    .choose .text p {
      text-align: center;
      padding: 0px 20px;
      color: #868686; }
  .choose .suit {
    padding: 30px 0px; }
  .choose .myIcon {
    margin: 0px 0px 10px 30px; }
    .choose .myIcon .icon {
      width: 70px;
      color: white;
      font-size: 35px;
      height: 70px;
      padding: 20px 0px 0px 20px;
      border-radius: 100%;
      background: #F57E57; }

@media screen and (min-width: 768px) {
  .firsttext h1 {
    font-size: 80px; }

  .secondtext h2 {
    font-size: 60px; }

  .secondtext h3 {
    font-size: 46px; }

  .fourthtext h4 {
    font-size: 24px; }

  .fifthtext h5 {
    font-size: 22px; }

  .sixthtext h6 {
    font-size: 18px; } }
@media screen and (max-width: 1200px) {
  .content .container {
    width: 66.1%; } }

/*# sourceMappingURL=typography.css.map */
